<h2 mat-dialog-title *ngIf="pat"> Patient details </h2>
<mat-spinner diameter="45" *ngIf="loading" ></mat-spinner> 
<mat-dialog-content class="mat-typography" *ngIf="!loading">
  <section class="patientdetails" *ngIf="data">
    <div class="row">
      <div class="col-6">
        <p class="textSecondary"> <b>Patient ID:</b> <br> {{data.patientId}} </p>
      </div>
      <div class="col-6">
        <p class="textSecondary"> <b>SSN ID:</b><br> {{data.ssnid}} </p>
      </div>
      <div class="col-6">
        <p class="textSecondary"> <b>Name:</b><br> {{data.name}}</p>
      </div>
      <div class="col-6">
        <p class="textSecondary"> <b>Age:</b> <br> {{data.age}}</p>
      </div>
      <div class="col-6">
        <p class="textSecondary"> <b>Date of admission:</b><br> {{data.dateOfJoining | date}}</p>
      </div>
      <div class="col-6">
        <p class="textSecondary"> <b>Ward:</b> <br> {{data.roomType}}</p>
      </div>
      <div class="col-6">
        <p class="textSecondary"> <b>Patitent status:</b> <br> {{data.status}}</p>
      </div>
      <div class="col-6">
        <p class="textSecondary"> <b>Address:</b><br> {{data.address}}</p>
      </div>
      <div class="col-6">
        <p class="textSecondary"> <b>City:</b><br> </p> {{data.city}}
      </div>
      <div class="col-6">
        <p class="textSecondary"> <b>State:</b><br> </p> {{data.state}}
      </div>
    </div>
  </section>

  <section class="pharmacy">
    <h2>Pharmacy Invoices</h2>
    <div class="invoices " *ngFor="let iter of data.pharmacy">
      <p class="date invoiceTables"> <b>date:</b> {{iter.date.$date |date }} </p>
      <table class="table ">
        <thead class="table">
          <tr class="tableRow">
            <th>SL No</th>
            <th>Name</th>
            <th>Qty</th>
            <th> Unit price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody *ngFor="let invoiceItem of iter.items, index as i">
          <tr class="tableRow">            
            <td> {{i + 1}}</td>
            <td> {{invoiceItem.name}} </td>
            <td> {{invoiceItem.quantity}} </td>
            <td> {{invoiceItem.price}} </td>
            <td> {{invoiceItem.quantity * invoiceItem.price}} </td>
          </tr>
        </tbody>
        <p class="total "><i> Invoice total  {{ iter.total }} </i> </p>
      </table>
    </div>
  </section>
  <section class="Lab" *ngIf="data.diagnostics">
    <h2>Lab Invoices</h2>
    <div class="invoices" *ngFor="let itr of data.diagnostics">
      <p class="date invoiceTables"> <b>date:</b> {{itr.date.$date |date }}  </p>
      <table class="table ">
        <thead class="table">
            <tr class="tableRow">
                <th>SL No</th>
                <th>Name</th>
                <th> Test price</th>
            </tr>
        </thead>
        <tbody *ngFor="let invoiceItem of itr.items, index as i">
            <tr class="tableRow">
                <td> {{i + 1}}</td>          
                <td> {{invoiceItem.name}} </td>
                <td> {{invoiceItem.price}} </td>
            </tr>
        </tbody>
        <p class="total "> <i> Invoice total  {{ itr.total }} </i> </p>
    </table>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close  class="btnPrimary" cdkFocusInitial>Close</button>
  <button mat-button [mat-dialog-close]="true" *ngIf="!pat.view" (click)="dischage(data.patientId)" class="btnPrimary" >Discharge</button>
</mat-dialog-actions>