<div class="container">
    <section class="header">
        <h1 class="titlePrimary displayInline">Inventory Dashboard</h1>
        <button (click)="newTest()"  mat-raised-button color="primary"
            class="btnPrimary btnSubmit floatRight">Inventory +</button>
    </section>

    <div class="inverntory">
        <mat-form-field style="width: 80%;">
            <mat-label>Search Test</mat-label>
            <input type="text" matInput #searchKeyWord (keyup)="searchInventory(searchKeyWord.value)" >
        </mat-form-field>

        <table class="table ">
            <thead class="table">
                <tr class="tableRow">
                    <th>S No</th>
                    <th>Test Name</th>
                    <th>Price</th>                   
                </tr>
            </thead>
            <tbody *ngFor="let item of filter, index as i">
                <tr class="tableRow">
                    <td> {{i + 1}}</td>
                    <td> {{item.name}} </td>
                    <td> {{item.price}} </td>                    
                </tr>
            </tbody>
        </table>
    </div>
</div>