.inverntory{
    padding: 1em;
    background-color: #ffffff;
    margin-top: 2em;
}
.searchField{
    width: 80%; 
    display: inline-block;
}

.spinner{
    display: inline-block;
    margin-left: 10%;
}