
// Montserrat

@font-face {
    font-family: montserratBold;
    src: url('src/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face{
    font-family: montserratRegular;
    src: url('src/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}