<h2 mat-dialog-title>Pharmacy Invoices</h2>
<mat-dialog-content class="mat-typography">
  <section class="pharmacy">
    <p *ngIf="patdata.data.length == 0">No record</p>
    <div class="invoices" *ngFor="let itr of patdata.data">
      <p class="date"> <b>date:</b> {{itr.date.$date | date}} </p>
      <table class="table ">
        <thead class="table">
            <tr class="tableRow">
                <th>SL No</th>
                <th>Name</th>
                <th *ngIf="patdata.pharma">Qty</th>
                <th *ngIf="patdata.pharma"> Unit price</th>
                <th *ngIf="!patdata.pharma"> Price</th>
                <th *ngIf="patdata.pharma">Total</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of itr.items, index as i">
            <tr class="tableRow">
                <td> {{i + 1}}</td>          
                <td> {{item.name}} </td>
                <td *ngIf="item.quantity"> {{item.quantity}} </td>
                <td> {{item.price}} </td>
                <td *ngIf="item.quantity"> {{item.quantity * item.price}} </td>                
            </tr>
        </tbody>
        <p class="total">invoice total {{itr.total}} </p>
    </table>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btnPrimary">Close</button>
</mat-dialog-actions>