<div class="container">
    <div class="bodyWraper">
        <div class="row">
            <div class="col-6 ">
                <div class="layoutFullHeightAutoWidth">
                    <div class="company">
                        <h1 class="companyTitle">ABC</h1>
                        <h2 class="companySubtitle">Hospitals</h2>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="layoutFullHeightAutoWidth">
                    <div class="login">
                        <form class="loginform" novalidate [formGroup]="loginForm" (submit)="login(loginForm.value)">
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="formControl">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" type="email" class="formControl">
                                    </mat-form-field>
                                </div>
                                <div class="col-12">
                                    <mat-form-field class="formControl">
                                        <mat-label>Password</mat-label>
                                        <input matInput formControlName="password" type="password" class="formControl">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">{{message}}</div>
                                <div class="col-1">
                                    <mat-spinner diameter="35" *ngIf="loading" class="spinner"></mat-spinner>
                                </div>
                                <div class="col-3"> <button mat-raised-button [disabled]="!loginForm.valid"
                                        type="submit" color="primary" class="btnPrimary btnSubmit">Login</button></div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>



</div>