<h1 mat-dialog-title>Add Item</h1>
<div mat-dialog-content>
    <form class="newPatient" [formGroup]="newForm" novalidate autocomplete="off">
        <div class="row">
            <div class="col-6">
                <mat-form-field class="formControl">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" class="formControl" formControlName="name" required>
                    <mat-error *ngIf="!newForm.controls['name'].valid && newForm.controls['name'].touched">
                        Required
                    </mat-error>
                </mat-form-field>
            </div>            
            <div class="col-3">
                <mat-form-field class="formControl">
                    <mat-label>Unit Price</mat-label>
                    <input matInput type="number" class="formControl" formControlName="price" required>
                    <mat-error *ngIf="!newForm.controls['price'].valid && newForm.controls['price'].touched">
                        Required
                    </mat-error>
                </mat-form-field>
            </div>           
        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button class="btnPrimary" mat-button  (click)="close()">close</button>
    <button class="btnPrimary" color='primary' (click)='submit(newForm.value)' cdkFocusInitial mat-raised-button [disabled]="!newForm.valid">Confirm</button>
</div>